@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>UPCLASS | Log in</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">




	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="~/css/all.min.css">
	<link rel="stylesheet" href="~/css/ionicons.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/css/adminlte.min.css">
	<link rel="stylesheet" href="~/css/icheck-bootstrap.min.css">
	<!-- Google Font: Nanum Gothic -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
	<div class="login-box">
        <div class="login-logo">
            @*<a href="#"><b>UPCLASS</b></a>*@
           
        </div>
		<!-- /.login-logo -->
		<div class="card">
            <div class="card-body login-card-body align-items-center ">
                <a href="/index">
                    <img src="~/images/logo-front-end.png" class="rounded mx-auto d-block" style="width:140px;" />
                </a>
                <p class="login-box-msg mt-3">Sign in to start your session</p>
                <section>
                    <form id="account" method="post">

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group mb-3">

                            <input asp-for="Input.Email" class="form-control" placeholder="Email / Phone Number" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                            @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                        </div>
                        <div class="input-group mb-3">

                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            @*<span asp-validation-for="Input.Password" class="text-danger"></span>*@
                        </div>

                        <div class="row">
                            <div class="col-8">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>



                    </form>
                </section>


                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>


                    <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        <button type="submit" name="provider" value="Facebook" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                        </button>
                        <button type="submit" name="provider" value="Google" class="btn btn-block btn-danger">
                            <i class="fab fa-google mr-2"></i> Sign in using Google
                        </button>
                    </p>
                </div>
            </form>

                </div>


                <p class="mb-1">

                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                @*<p class="mb-0">
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>*@

            </div>
			<!-- /.login-card-body -->
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="~/js/adminlte.min.js"></script>

</body>
</html>







@*
	<section>
		<h4>Use another service to log in.</h4>
		<hr />
		@{
			if ((Model.ExternalLogins?.Count ?? 0) == 0)
			{
				<div>
					<p>
						There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
						for details on setting up this ASP.NET application to support logging in via external services.
					</p>
				</div>
			}
			else
			{
				<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
					<div>
						<p>
							@foreach (var provider in Model.ExternalLogins)
							{
								<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
							}
						</p>
					</div>
				</form>
			}
		}
	</section>
*@

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
